In [2]:
import pandas as pd
import numpy as np
import seaborn as sea
import matplotlib.pyplot as plt
%matplotlib inline
import math
category_dataset=pd.read_csv("category_data.csv")
category_dataset.head(9)

        Name           Age  Target
0  Arvind Kumar Singh   20       0
1       Chandan kumar   19       2
2       Harshit kumar   19       2
3        Pankaj Joshi   20       0
4  Pankaj kumar verma   21       1
5          Sonu kumar   20       0
6        Shivam kumar   19       2
7        Manish kumar   20       0
8         harsh kumar   21       1

In [8]:
from pandas import DataFrame
df=DataFrame(category_dataset,columns=['Age'])
df.head(8)

   Age
0   20
1   19
2   19
3   20
4   21
5   20
6   19
7   20

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
df,category_dataset['Target'],random_state=0)
print("X_train shape: {}".format(X_train.shape))
print("y_train shape: {}".format(y_train.shape))
print("X_test shape: {}".format(X_test.shape))
print("y_test shape: {}".format(y_test.shape))

X_train shape: (6, 1)
y_train shape: (6,)
X_test shape: (3, 1)
y_test shape: (3,)

In [10]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1)

In [11]:
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=1)

In [12]:
#for testing the model
X_new = np.array([[20]])

In [13]:
prediction = knn.predict(X_new)
print("Prediction:{}".format(prediction))

Prediction:[0]

In [14]:
print("Test set score:{}".format(knn.score(X_test,y_test)*100))

Test set score:90.0